#title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

body {
    font-family: 'Carrois Gothic SC', sans-serif;
}

.hoverContainer {
    overflow:hidden;
}

#stats {
    text-align: center;
    margin-bottom: 40px;
}

[ng-click] {
    cursor: pointer;
}

.hoverGreen:hover {
    background-color: green;
}

.hoverRed:hover {
    background-color: red;
}

.feature-title {
    font-size: 17px;
    font-weight: bold;
}

.feature {
    border: 1px solid black;
}

#clickRecord {
    margin-bottom: 20px;
}