#title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

body {
    font-family: 'Carrois Gothic SC', sans-serif;
}

li {
    list-style: none;
}

#stats {
    text-align: center;
    margin-bottom: 40px;
}

[ng-click] {
    cursor: pointer;
}

.feature-title {
    font-size: 17px;
    font-weight: bold;
}

.feature {
    border: 1px solid black;
}