<html ng-app="clickABand">
<head>
    <title>Click A Band</title>
    <script src="js/angular.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="css/1920.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container_24">
    <div id="title" class="grid_24">Click A Band</div>
    <div id="left" class="grid_4">
        <div id="stats" class="grid_4 alpha omega" ng-controller="StatsController">
            <div id="clickRecord" ng-click="clickRecord()">
                <img src="images/record.jpg" width="200" height="200" />
            </div>
            <div>Noten: {{ notesTotal }}</div>
            <div>Noten pro Klick: {{ notesPerClick }}</div>
            <div>Noten pro {{ notesPerInterval }}</div>
            <div><img src="images/guitar.png" /></div>
        </div>
    </div>
    <div id="middle" class="grid_9">
        <div id="song" class="grid_8 alpha omega feature" ng-controller="SongController" ng-show="songOn">
            <div id="songTitle" class="grid_8 alpha omega feature-title">
                <div id="songName" class="grid_2 alpha">{{ title }}</div>
                <div id="songEffect" class="grid_2">{{ effect }}</div>
                <div id="songCost" class="grid_2">{{ cost }}</div>
                <div id="songOwned" class="grid_2 omega">{{ owned }}</div>
            </div>
            <div class="grid_8 alpha omega" ng-repeat="song in songs" ng-click="buySong(song)" ng-show="isOn(song)" ng-class="hoverColor(song)">
                <div class="grid_2 alpha">{{ song.title }}</div>
                <div class="grid_2">+{{ song.effect }}/{{ song.effectUnit }}</div>
                <div class="grid_2">{{ song.cost }} Noten</div>
                <div class="grid_2 omega">{{ song.owned }}</div>
            </div>
        </div>
        <div id="album" class="grid_8 alpha omega feature" ng-controller="AlbumController" ng-show="albumOn">
            <div id="albumTitle" class="grid_8 alpha omega feature-title">
                <div id="albumName" class="grid_3 alpha">{{ title }}</div>
                <div id="albumReqSongs" class="grid_3">{{ reqSongs }}</div>
                <div id="albumCost" class="grid_2 omega">{{ cost }}</div>
            </div>
            <div class="grid_8 alpha omega" ng-repeat="album in albums" ng-click="buyAlbum(album)" ng-class="hoverColor(album)">
                <div class="grid_3 alpha">{{ album.title }}</div>
                <div class="grid_3">{{ album.reqSongs }} Songs</div>
                <div class="grid_2 omega">{{ album.cost }} Noten</div>
            </div>
            <div id="buyAlbum" class="grid_8" ng-show="buyAlbumOn" ng-style="{'margin-top':'10px'}">
                <div class="grid_8 alpha omega" ng-style="{'font-weight': 'bold'}">
                    <div class="grid_8 alpha omega">{{ albumTitle }}</div>
                </div>
                <div ng-repeat="song in songs" ng-style="{'margin-bottom':'10px'}">
                    <div class="grid_3 alpha">{{ song.title }}</div>
                    <div class="grid_1">{{ song.count }}</div>
                    <div class="grid_1" ng-click="increaseCount(song)">+</div>
                    <div class="grid_1" ng-click="decreaseCount(song)">-</div>
                </div>
                <div class="grid_8 alpha omega">
                    <div class="grid_1"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="right" class="grid_10">
        <div id="research" class="grid_10 alpha omega feature" ng-controller="ResearchController" ng-show="researchOn">
            <div id="researchTitle" class="grid_10 alpha omega feature-title">
                <div id="researchName" class="grid_3 alpha">{{ title }}</div>
                <div id="researchEffect" class="grid_5">{{ effectDesc }}</div>
                <div id="researchCost" class="grid_2 omega">{{ cost }}</div>
            </div>
            <div class="grid_10 alpha omega" ng-repeat="research in researchList" ng-click="buyResearch(research)" ng-show="isOn(research)" ng-class="hoverColor(research)">
                <div class="grid_3 alpha">{{ research.title }}</div>
                <div class="grid_5">{{ research.getEffectDesc() }}</div>
                <div class="grid_2 omega">{{ research.cost }} Noten</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>