#title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

#gamePlay {
    text-align: center;
    margin-bottom: 40px;
}

#bandImage {
	text-align: center;
}