#title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

body {
    background-color: #CCCCCC;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.container_12 {
    background-color: #FFFFFF;
}

#gamePlay {
    text-align: center;
    margin-bottom: 20px;
}
